.main{
    margin:0rem 15rem 2rem 15rem;
    padding: 1.5rem;
    /* background-color: red; */
}

.main h1{
    color:#dae1e7;
    padding:0;
    margin-bottom:0.5rem;
}
.main p{
    color:#c1cee6;
    font-size:18px;
}

.main ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
.main li{
    display:inline-block;
    padding-top:0.5rem;
    padding-right: 1.5rem;
}


  

.personality p{
    margin-top:1.8rem;
    font-size:16px;
}

.mainImage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid{
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap:1rem;
    grid-auto-rows:minmax(100px,auto);
}

.grid > div{
    /* color:red; */
    /* background:#eee; */
    padding:0rem;
}

.grid > div:nth-child(odd){
    /* background:#ddd */
}

.gridContent{
    display:grid;
    grid-template-columns:1fr;
    grid-auto-rows:auto;
    grid-gap:0.5rem;
}

.gridContent > div{
    /* background-color: aliceblue; */
    /* color:black; */
    padding:0.2rem;
    font-size:12px;
}

.main button{
    margin-top:0.5rem;
    padding:0.75rem;
    border:none;
    border-radius: 0.2rem;
    background-color: #743898;
    color:#dae1e7;
    text-transform: uppercase;
    font-family: 'Titillium Web';
    font-weight:700;
}

.main button:hover{
    margin-top:0.5rem;
    padding:0.75rem;
    border:none;
    border-radius: 0.2rem;
    background-color: #dae1e7;
    color:#743898;
    text-transform: uppercase;
    font-family: 'Titillium Web';
    font-weight:700;
}
