.main{
    margin:5rem 15rem 0rem 15rem;
    padding: 1.5rem;
    background-color: #1d1952;
    box-shadow: 10px 15px #403c7a;
    margin-bottom:4rem;
    /* border-radius: ; */
}

.main h1{
    color:#dae1e7;
    padding:0;
    margin-bottom:0.5rem;
}
.main p{
    color:#c1cee6;
}
.mainImage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid{
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap:1rem;
    grid-auto-rows:minmax(100px,auto);
}

.grid > div{
    color:black;
    /* background:#eee; */
    padding:0rem;
}

.grid > div:nth-child(odd){
    /* background:#ddd */
}

.gridContent{
    display:grid;
    grid-template-columns:1fr;
    grid-auto-rows:auto;
    grid-gap:0.5rem;
}

.gridContent > div{
    /* background-color: aliceblue; */
    color:black;
    padding:0.2rem;
    font-size:12px;
}

.main button{
    margin-top:0.5rem;
    padding:0.75rem;
    border:none;
    border-radius: 0.2rem;
    background-color: #743898;
    color:#dae1e7;
    text-transform: uppercase;
    font-family: 'Titillium Web';
    font-weight:700;
}

.main button:hover{
    margin-top:0.5rem;
    padding:0.75rem;
    border:none;
    border-radius: 0.2rem;
    background-color: #dae1e7;
    color:#743898;
    text-transform: uppercase;
    font-family: 'Titillium Web';
    font-weight:700;
}